/* CSS Responsive Document */

@media screen and (max-width:767px){
    paper-drawer-panel {position:relative; height:auto; overflow:visible;}
    .col2-set {display:block !important;}
    .col2-set .col-1, .col2-set .col-2 {width:96%; max-height:inherit !important; padding:1% 2%; overflow-y:hidden !important;}
    .cushion-sides {padding:0 2%;}
}